<html lang="en-us" >
<head>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />

</head>
<body class=" login"
data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name" style="color:white">Войти</a></h1>

        </div>
        
        
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">

        
        <form id="login_form" method="post" >
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
<a href="/register">Регистрация </a>

  </div>   

  <br class="clear" />
</div>
<!-- END Content -->

<div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>